<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="es-co" class="no-js ie6" ng-app="mathBirthdaysApp"> <![endif]-->
<!--[if IE 7 ]>    <html lang="es-co" class="no-js ie7" ng-app="mathBirthdaysApp"> <![endif]-->
<!--[if IE 8 ]>    <html lang="es-co" class="no-js ie8" ng-app="mathBirthdaysApp"> <![endif]-->
<!--[if IE 9 ]>    <html lang="es-co" class="no-js ie9" ng-app="mathBirthdaysApp"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="es-co" class="no-js" ng-app="mathBirthdaysApp"><!--<![endif]-->
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>Math Birthdays</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
		<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/overcast/jquery-ui.css">
		<style>
			.main{
				padding: 10px;
				font-family: arial;
				color: #444444;
			}

			.main h1{
				margin: 20px auto;
				text-align: center;
				font-family: 'Open Sans', sans-serif;
			}

			.fieldcontain {
				margin: 10px auto;
				padding: 10px;
				background: #dddddd;
				border-radius: 			10px;
				-moz-border-radius: 	10px;
				-webkit-border-radius: 	10px;
				max-width: 600px;
			}

			.fieldcontain label {
				width: 50px;
				display: inline-block;
			}

			.fieldcontain input {
				width: 60px;
				text-align: right;
				padding: 2px 4px;
				border-radius: 			4px;
				-moz-border-radius: 	4px;
				-webkit-border-radius: 	4px;
			}

			.my-slider {
				margin-bottom: -3px;
				margin-left: 5px;
				display: inline-block;
				width: 460px;
			}

		</style>

	</head>
	<body>
		<div class="header"></div>

		<div class="main" ng-controller="BirthdayCtrl">
			<h1>Lets find out your math birthday!</h1>
			<div class="fieldcontain">
				<label>Year:</label>
				<input type="number" min="1914" max="2014" step="1" ng-model="year" />
				<div my-resizable-slider class="my-slider">
					<div ui-slider="" min="1914" max="2014" ng-model="year" aria-disabled="false"
						class="ng-valid ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all ng-dirty" >
						<a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 34%;"></a>
					</div>
				</div>
			</div>
			<div class="fieldcontain">
				<label>Month:</label>
				<input type="number" min="1" max="12" step="1" ng-model="month" />
				<div my-resizable-slider class="my-slider">
					<div ui-slider="" min="1" max="12" ng-model="month" aria-disabled="false"
						class="ng-valid ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all ng-dirty" >
						<a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 34%;"></a>
					</div>
				</div>
			</div>
			<div class="fieldcontain">
				<label>Day:</label>
				<input type="number" min="1" max="31" step="1" ng-model="day" />
				<div my-resizable-slider class="my-slider">
					<div ui-slider="" min="1" max="31" ng-model="day" aria-disabled="false"
						class="ng-valid ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all ng-dirty" >
						<a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 34%;"></a>
					</div>
				</div>
			</div>

			<div class="fieldcontain">
				Your next math birthday is your {{nextMBirthdayNumber() | number}}-day-old birthday 
				on {{nextMBirthdayDate() | date:'mediumDate'}} date
			</div>

		</div>

		<div class="footer"></div>

		<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
		<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
		<script src="http://angular-ui.github.io/ui-slider/src/slider.js"></script>
		<script>
			(function(){
				var app = angular.module('mathBirthdaysApp', ['ui.slider']);

				app.controller('BirthdayCtrl', ['$scope', '$window', '$timeout', function($scope, $window, $timeout){
					$scope.year = 1994;
					$scope.month = 6;
					$scope.day = 15;				

					$scope.daysFromBirthday = function(){
						var birthday = new Date($scope.year, $scope.month - 1, $scope.day);
						var today = new Date();
						return Math.floor((today - birthday)/(1000*60*60*24));
					};

					$scope.nextMBirthdayNumber = function(){
						var numChars = $scope.daysFromBirthday().toString().length;
						return Math.pow(10, numChars);
					};

					$scope.nextMBirthdayDate = function(){
						var daysToMathBirthday = $scope.nextMBirthdayNumber() - $scope.daysFromBirthday();
						var today = new Date();
						return new Date(today.getTime() + (daysToMathBirthday * (1000*60*60*24)));
					};
					
				}]);

				app.directive('myResizableSlider', ['$window', function($window){
				    return function (scope, element, attrs) {
			            var fieldWidth = $(".fieldcontain").width();
			            
			            element.css({
			            	width: (fieldWidth - 140) + 'px'
			            });
			            
			            angular.element($window).bind('resize', function(event){

			                element.css({
				            	width: ($(".fieldcontain").width() - 140) + 'px'
			                });

			            });
				    };
				}]);

				
			})();

		</script>		

	</body>
</html>
